@import 'https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css';

:root {
    --color-primary: #8c5959;
    --color-secondary: #cfb8b8;
    --color-background: #f1f1f1;
    --color-text: #000000;
    --color-text-light: #020202;
  }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/DecoracionFive.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  transition: background-color 0.3s, color 0.3s;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

header, footer {
  text-align: center;
}

.cta-btn {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.card {
  background-color: rgb(212, 193, 193);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: background-color 0.3s, border-color 0.3s;
}

.theme-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
  transition: transform 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.1);
}

body.dark-mode .theme-toggle-btn {
  color: var(--color-text-light);
}

.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #444;
}

.dark-mode .cta-btn {
  background-color: var(--color-primary);
}

 .bg-color1 { background-color: var(--color-primary); }
/* .bg-color3 { background-color: var(--color-background); }
.text-color5 { color: var(--color-text-light); } */
 /* .text-color1 { color: var(--color-primary); }  */

/* h2, h3 {
  color: var(--color-primary);
} */

/* ... código existente ... */

h3.instructor-name {
  font-size: 2.5rem; /* Aumenta el tamaño del nombre del instructor */
}

.instructor-description {
  font-size: 1.2rem; /* Aumenta el tamaño de la descripción */
}

/* ... código existente ... */

.dark-mode body {
  color: var(--color-text-light); /* Cambia el color del texto en modo oscuro */
}

